/* src/App.css */

/* Facem ca aplicația să ocupe tot ecranul */
html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ascundem barele de scroll */
}